<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Ecommerce</title>
</head>
<body>
    {{{body}}} <!-- Aquí se renderizará el contenido de cada vista -->

    <!-- Agregamos la conexión con Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); // Conectamos con el servidor de WebSockets

        // Escuchamos el mensaje de bienvenida desde el servidor
        socket.on('mensaje', (data) => {
            console.log('Mensaje del servidor:', data);
        });
    </script>
</body>
</html>